/* formulario-abertura.css */

section aside {
    width: 300px;
    min-height: 100px;
    /* border: 1px solid violet; */
}

section aside:first-child {
    float: left;
}

section aside:nth-child(2) {
    float: right;
}

/* formulário de contato */

form {
    text-align: center;
    margin-bottom: 0;
    width: 400px;
}

.radio {
    padding: 6px;
    font-family: helvetica;
    margin-bottom: 8px;
    width: 0;
}

form select,
form input {
    border: 2px solid rgb(2, 2, 68);
    border-radius: 4px;
    padding: 6px;
    width: 400px;
    font-family: helvetica;
    margin-bottom: 8px;
}

form textarea {
    border: 2px solid rgb(2, 2, 68);
    border-radius: 4px;
    width: 400px;
    padding: 6px;
    font-family: helvetica;
    margin-bottom: 8px;
}

form textarea {
    height: 170px;
    resize: none;
}

form button[type=submit] {
    background:rgb(2, 2, 68);
    border: none;
    padding: 5px;
    color: white;
    margin-left: 80px;
}

#erro {
    color: red;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}